/* general window setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
/* header and nav box styling */
/* delete/change colour later, "visual debugging only" */
header{
    background-color: #A7C7E7;
    padding: 0.8em 0;
    box-shadow: 2px 2px 2px #A7C7E7;
}
header, h1{
    color: #D0006E;
}
.nav-container{
    display: flex;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;   
}
nav li{
    margin-left: 1em;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a :hover, nav a:focus{
    color: white;
}
/* footer */
footer{
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
    padding-top: 2em;
}
/* contains index content */
.wrapper{
display: flex;
flex-flow: wrap row;
}
/* left side styling */
.left-side{
    display: flex;
    flex-flow: wrap row;
    width: 60%;
    padding-left: 2em;   
}
/* content of left side */
.text1{
    display: flex;
    justify-content: center;
    padding: 2em 2em 0 2em;
}
.text2{
    text-align: center;
    width: 30%;
    padding-left: 1em;
    padding-top: 3em;
}
.video{
    width: 40%;
}
/* right side styling */
.right-side{
    display: flex;
    flex-flow: wrap row;
    flex-basis: 40%;
    padding: 2em 2em 0 0;
}
/* content of right side */
/* image sizing */
.comments{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    justify-content: space-evenly;
}
/* title of comments */
h3{
    width: 100%;
    padding: 0 0 1em 0;
    text-align: center;
}
.comments-left{
width: 50%;
}
.comments-right{
width: 50%;
}
.comments img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.bottom-dl-content{
   display: flex;
   flex-flow: wrap row;
   flex-basis: 100%;
   padding: 2em 0 0 0;
   justify-content: center;
   justify-content: space-around;

}
.bottom-dl-content dl{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
}
.bottom-dl-content dt{
    font-weight: bold;
    font-size: larger;
}
/* contains info content */
.info-h1{
    text-align: center;
    padding: 2em 0 2em 0;
}
.info-table{
    display: flex;
    flex-flow: wrap row;
    flex-basis: 100%;
    justify-content: center;
}
table {
    position: relative;
    overflow: auto;
    border: 3px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 2em 0 0 0;
}
th{
    font-size: 20px;
    border: 3px solid black;
}
td,tr{
   border: 1px solid black;
}

.info h1{
font-size: 55px;
text-align: center;
}
@media (max-width: 400px) {
    table { 
       overflow-y: scroll;
    }
}
